---
layout: page
---


{%- assign speaker = page -%}

<article class="staffer" style="width: 100%;">
    <div style="width: 100%;">
        <div style="display: grid; grid-template-columns: 3fr 1fr;">
            <div>
                <h1>
                    {{speaker.academic_title}} {{ speaker.name }}
                </h1>
                {%- if speaker.affiliation -%}<h4>{{speaker.affiliation}}</h4>{%- endif -%}
                <p> {{content}} </p>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="justify-content: center">
                {%- if speaker.photo -%}
                <img class="staffer-image" src="{{ site.baseurl }}/assets/images/{{ page.photo }}" alt="" style="max-width: 90%; height: 150px;">
                {%- endif -%}
                {%- if speaker.website -%}
                <a href="{{ speaker.website }}" 
                    target="_blank" 
                    rel="noopener noreferrer"
                    style="display: flex; justify-content: center; align-items: center;">🌐 Speaker webpage</a>
                {%- endif -%}
                </div>
            </div>
        </div>
    
        <h2> {{speaker.talk}} </h2>
        <!-- Clock format -->
        On <b>{{speaker.talk_date | date: "%B %d, %Y"}}</b> at <b>{{speaker.talk_date | date: "%I:%M %p"}}</b> (UTC+1)
        <p> {{speaker.talk_description}} </p>

        {% if speaker.links %}
        <h4>Useful links</h4>
        <ul>
        {%for link in speaker.links%}
            <li><a href="{{link.url}}" target="_blank">{{link.name}}</a>
        {%endfor%}
        </ul>
        {% endif %}
    </div>
</article>

<div style="width: 100%;">
    <h2> Ask your questions to {{speaker.name}}! </h2>
    {% include comments.html replies_to=page.url %}
    {% include comment-form.html reply_to=page.url %}   
</div>  
        


<style>
    .article-comment {
        display: flex;
        clear: both;
        padding-top: .7em;
    }
    
    .article-comment-content {
        flex-grow: 1;
    }
    
    .article-comment .article-comment, .article-comment ~ .article-comment {
        border-top: .1em solid #eee;
    }
    
    .article-comment summary {
        color: #2a7ae2;
        cursor: pointer;
    }
    
    .article-comment-avatar {
        width: 3.5em;
        max-width: 20%;
        margin-right: .7em;
    }
    
    .article-comment-footer {
        font-size: smaller;
        color: grey;
        display: inline;
        float: left;
        padding: .7em 0em;
    }
    
    input, select, textarea {
        margin-bottom: .5em;
        background: #eee;
        border: none;
        padding: .5em;
        width: 100%;
    }
    
    textarea {
        height: 10em;
    }
    
    button {
        background: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 3px;
        transition: 0.5s; /* Added transition for smooth effects */
    }

    button:hover {
        background: #2196F3; /* Change background on hover */
    }

    button:active {  /* Target button on press */
        background: #007bff; /* Change background on press (active state) */
        transform: translateY(2px); /* Simulate slight button press */
    }
    
    label {
        font-size: smaller;
        color: grey;
        display: block;
    }
    
    </style>